@model EduProject.ViewModels.RegisterUserViewModel
@{
    ViewData["Title"] = "Admin ekle";
}



<div class="col-md-6 offset-md-3">
    @if (@ViewBag.Errors!=null)
    {
        <div class="alert alert-danger">@ViewBag.Errors</div >
    }
    <div class="row">
        <h3>Admin Ekle</h3>
        <hr>
        <form method="post" class="form-group" asp-controller="Account" asp-action="AddAdmin">
            <label class="form-label" asp-for="UserName">Kullanıcı Adı</label>
            <input class="form-control" asp-for="UserName" type="text">
            <label class="form-label" asp-for="Password">Şifre</label>
            <input class="form-control" asp-for="Password" type="password">
            <input class="btn btn-secondary-outline border mt-3" type="submit" value="Kaydet">
        </form>
    </div>
</div>