@model IPagedList<EduProject.Models.DersNotu>

@using X.PagedList.Web.Common;


@{
    ViewData["Title"] = "Ders Notları";
}

<h1>Ders Notları</h1>

<div class="row mb-5">
    <p class="text-center h3">
        <a asp-action="Create" class=" text-warning nav-link">Ders Notu Paylaş</a>
    </p>
    @foreach (var item in Model) {
        <div class="col-md-3">
            <div class="card mt-2">
                <div class="card-body">
                    <p class="card-title">@Html.DisplayFor(modelItem => item.DersAdı)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Konu)</p>
                    <p class="card-text"><a target="_blank" href="~/images/@Html.DisplayFor(modelItem => item.FileName)">Belgeye git</a></p>
                </div>
            </div>
        </div>
    }   
</div>

<div class="position-absolute start-50 translate-middle bottom-0 mb-5">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
        new
            {
                page
        }),
        new PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
            Display = PagedListDisplayMode.IfNeeded

            })
</div>
