@model EduProject.ViewModels.SınavCreateViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="col-md-8 offset-md-2">
    <h1>Sınav Paylaşma Ekranı</h1>
    <hr/>

    <form method="post" enctype="multipart/form-data" asp-controller="Sınav"  asp-action="Create">
        <div class="form-group">
            <span asp-validation-for="Name" class="text-danger"></span>


            <label asp-for="Name" class="control-label">Sınav Bilgisi</label>
            <input asp-for="Name" class="form-control" required/>

            <label for="DersAdı" class="mt-2">Ders Seçin</label>
            <select name="DersAdı" class="form-select mt-1" required>
            @foreach (var item in ViewBag.Dersler)
            {
                <option value="@item.Name">@item.DersKodu:@item.Name</option>
            }
            </select>

            <input asp-for="FilePath" class="form-control mt-3" required multiple>
        
            <input type="submit" value="Create" class="mt-3 btn btn-primary" />
        </div>
    </form>
    <div class="mt-4">
        <a asp-action="Index">Listeye Dön</a>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
