@model IPagedList<EduProject.Models.ForumBaslik>

@using X.PagedList.Web.Common;

@{
    ViewData["Title"] = "Forum";
}
<div class="row mb-5">
   
    <div class="col-md-8 offset-md-2 mb-5">
        <div class="row mb-5">
            <p class="text-center h3">
                <a asp-action="Create" class=" text-warning nav-link">Yeni Konu Aç</a>
            </p>
        @foreach (var item in Model.Reverse()) {
            <div class="position-relative p-3">
                <a asp-action="Details" asp-route-id="@item.ForumBaslikId" class="text-dark nav-link mb-3">@Html.DisplayFor(modelItem => item.Name)</a>
                <p class="text-muted position-absolute end-0 bottom-0 m-3">@Html.DisplayFor(modelItem => item.Creator)</p>
            </div>
            <hr>
        }
        </div>
    </div>
</div>
<div class="position-absolute start-50 translate-middle bottom-0 mb-5">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
        new
            {
                page
        }),
        new PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
            Display = PagedListDisplayMode.IfNeeded

            })
</div>
